
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="properties">
        <% @properties.each do |property| %>
          <h3><%= property.name %></h3>
          <p><%= property.location %></p>
          <p><%= property.description %></p>
          <p><%= property.category %></p>
          <p><%= property.theme %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

