
<div class='container'>
  <center><h1>Welcome <strong>back</strong></h1></center>
  <div class='profile-section'>
    <h2>Your profile <strong>details</strong></h2>
    <hr>
    <div id='profile-details'>
      <h4>First <strong>name</strong></h4>
      <h4><%= current_user.first_name %></strong></h4>
      <h4>Last <strong>name</strong></h4>
      <h4><%= current_user.last_name %></h4>
    </div>
  </div>

  <div id="bookings-section">
    <% if current_user.owner_profile? == true  %>
      <div class="flex">
        <h2>Manage your <strong>properties</strong></h2>
        <%= link_to "Create a new property", new_property_path %>
      </div>
      <hr style="margin-bottom: 3%">
      <div id="properties">
        <% @properties.each do |property| %>
          <div id="property">
            <div id="property-details">
              <h2><%= property.location %></h2>
              <p></p>
              <h3><%= property.name %></h3>
            </div>
            <img src="assets/florence-house.jpg" alt="Transport">
            <div id="property-options">
              <div class="btn-group" id="manage-property-btns" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-dark"><%= link_to "Manage property", edit_property_path(property) %></button>
                <button type="button" class="btn btn-dark"><%= link_to "Remove property", property_path(property), method: :delete, data: { confirm: "Are you sure?" }   %></button>
                <button type="button" class="btn btn-dark"><%= link_to "Manage bookings", property_bookings_path(property) %></button>
              </div>
              </div>
        </div>
          <% end %>

    <% else %>
    <h2>Manage your <strong>bookings</strong></h2>
      <div id="booking">
        <div id="booking-details">
          <h2>Hollywood, Los Angeles, US</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <h3>In 4 days</h3>
        </div>
        <img src="assets/jet-carousel.png" alt="Transport">
        <div id="booking-options">
          <div class="btn-group" id="manage-booking-btns" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark">Manage reservation</button>
            <button type="button" class="btn btn-danger">Cancel reservation</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
