<div class="container">
<div class="content">
  <div class="banner">
    <h1>Area<strong>4U</strong></h1>
  </div>

  <%= render "shared/searchbox" %>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <img src="assets/carousel.png" width="600" height="400" class="d-block w-100 carousel-img" alt="Luxary">
    </div>
    <div class="carousel-item">
      <img src="assets/carousel2.png" width="600" height="400" class="d-block w-100 carousel-img" alt="Wellness">
    </div>
    <div class="carousel-item">
      <img src="assets/carousel3.png" width="600" height="400" class="d-block w-100 carousel-img" alt="Transport">
    </div>
  </div>
 <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>


<div class="simple-filter">
  <h2>Choose your perfect rental</h2>
  <div id='simple-home-filter'>
    <h4>Price per hour</h4>
    <h4>Ratings</h4>
    <h4>Type</h4>
  </div>
  <div id="simple-home-filter-opts">
    <div class="btn-group">
      <%= link_to "€10 - €100", "#", class: "btn btn-dark" %>
      <%= link_to "€100-€199", "#", class: "btn btn-dark" %>
      <%= link_to ">€200", "#", class: "btn btn-dark" %>
    </div>
    <div class="btn-group">
      <%= link_to "3 stars", "#", class: "btn btn-dark" %>
      <%= link_to "4 stars", "#", class: "btn btn-dark" %>
      <%= link_to "5 stars", "#", class: "btn btn-dark" %>
    </div>
    <div class="btn-group">
      <%= link_to "Properties", "#", class: "btn btn-dark" %>
      <%= link_to "Category", "#", class: "btn btn-dark" %>
      <%= link_to "Themes", "#", class: "btn btn-dark" %>
    </div>
  </div>
</div>


<div class="tab">
    <h4>THEMES</h4>
  </div>
  <div class="cards">
    <div class="card">
    <%= image_tag "kitchenhome.png" , class:"area4u-card-img", alt: "Cooking" %>
    </div>
    <div class="card">
      <%= image_tag "yoga.png" , class:"area4u-card-img", alt: "Cooking" %>
    </div>
    <div class="card">
      <%= image_tag "luxary2.png" , class:"area4u-card-img", alt: "Cooking" %>
    </div>
    <div class button-white>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='/themes'">Cooking</button>
    </div>
    <div class button-white>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='/themes'">Wellness</button>
    </div>
    <div class button-white>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='/themes'">Luxary</button>
    </div>

  </div>
  <div class="tab">
    <h4>CATEGORY</h4>
  </div>
  <div class="cards">
    <div class="card">
    <%= image_tag "transport.png" , class:"area4u-card-img", alt: "Privetjet" %>
    </div>
    <div class="card">
      <%= image_tag "beach.png" , class:"area4u-card-img", alt: "Beach" %>
    </div>
    <div class="card">
      <%= image_tag "nature.png" , class:"area4u-card-img", alt: "Nature" %>
    </div>
    <div class button-white>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='/categories'">Transport</button>
    </div>
    <div class button-white>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='/categories'">Beach</button>
    </div>
    <div class button-white>
      <button type="button" class="btn btn-light btn-sm" onclick="location.href='/categories'">Nature</button>
    </div>

  </div>
  <div class="tab">
    <h4>TESTIMONIALS</h4>
  </div>
  <div class="cards">
    <div class="flex-card">
    <%= image_tag "testimonial1.png", class:"testimonial-card-img", alt: "Cooking", width: 250  %>
    </div>
    <div class="flex-card">
    <%= image_tag "testimonial2.png", class:"testimonial-card-img", alt: "Cooking", width: 250 %>
    </div>
    <div class="flex-card">
    <%= image_tag "testimonial3.png", class:"testimonial-card-img", alt: "Cooking", width: 250 %>
    </div>
    <div class button-white>
    <button type="button" class="btn btn-light btn-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Debitis tenetur facere in molestias consequuntur unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Debitis tenetur facere in molestias consequuntur unde</button>
    </div>
    <div class button-white>
      <button type="button" class="btn btn-light btn-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Debitis tenetur facere in molestias consequuntur unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Debitis tenetur facere in molestias consequuntur unde</button>
    </div>
    <div class button-white>
      <button type="button" class="btn btn-light btn-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Debitis tenetur facere in molestias consequuntur unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Debitis tenetur facere in molestias consequuntur unde</button>
    </div>
  </div>
</div>
</div>
