<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div id="navbar">
  <div class="buttons-card">
    <%= link_to "Properties", "#" %>
    <%= link_to "Category", "#" %>
    <%= link_to "Locations", "#" %>
    <%= link_to "Themes", "#" %>
  </div>
  <div class="user-options">
    <%= link_to "button", "#" %>
    <p>icon</p>
  </div>
</div>
<div class="content">
  <div class="banner">
    <h1>Area 4U</h1>
  </div>
  <div class="search-bar">
    <form action="">
        <input type="text" class="form-control">
        <input type="text" class="form-control">
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
