<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div id="navbar">
  <div class="buttons-card">
    <%= link_to "Properties", "#" %>
    <%= link_to "Category", "#" %>
    <%= link_to "Locations", "#" %>
    <%= link_to "Themes", "#" %>
  </div>
  <div class="user-options">
    <%= link_to "button", "#" %>
    <p>icon</p>
  </div>
</div>
<div class="content">
  <div class="banner">
    <h1>Area 4U</h1>
  </div>
  <div class="search-bar">
    <form action="">
        <input type="text" class="form-control">
        <input type="text" class="form-control">
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>

<div class="carousel">
  <img alt="Area4u"
     width="2000"
     src="/assets/carousel.png"/>

  <div class="carousel-footer">
    <div>
      <h2>Choose the perfect area rental</h2>
        <div>
          <ul>
            <li>Price per hour</li>
            <li>Ratings</li>
            <li>Properties</li>
          </ul>
        </div>
    </div>
  </div>
    <div>
      <ul>
        <%= link_to "Up to €100", "#" %>
        <%= link_to "€100-€199", "#" %>
        <%= link_to "€200-Up", "#" %>
      </ul>
    </div>
      <div>
        <ul>
          <%= link_to "4.5+", "#" %>
          <%= link_to "4+", "#" %>
          <%= link_to "3.5+", "#" %>
        </ul>
      </div>
        <div>
          <ul>
            <%= link_to "Themes", "#" %>
            <%= link_to "Category", "#" %>
            <%= link_to "Properties", "#" %>
          </ul>
      </div>

<div class="tab">
    <h4>THEMES</h4>
  </div>
  <div class="cards">
    <div class="card">
      <%= image_tag "cooking.png", alt: "Cooking", width: 200 %>
      <%= link_to "Cooking", "#" %>
    </div>
    <div class="card">
      <%= image_tag "wellness.png", alt: "Wellness", width: 200 %>
      <%= link_to "Wellness", "#" %>
    </div>
    <div class="card">
      <%= image_tag "wellness.png", alt: "Wellness", width: 200 %>
      <%= link_to "Luxury", "#" %>
    </div>
  </div>
  <div class="tab">
    <h4>CATEGORY</h4>
  </div>
  <div class="cards">
    <div class="card">
      <%= image_tag "cooking.png", alt: "Cooking", width: 200 %>
      <%= link_to "Private Jet", "#" %>
    </div>
    <div class="card">
      <%= image_tag "wellness.png", alt: "Wellness", width: 200 %>
      <%= link_to "Beach", "#" %>
    </div>
    <div class="card">
      <%= image_tag "wellness.png", alt: "Wellness", width: 200 %>
      <%= link_to "Beach", "#" %>
    </div>
  </div>
  <div class="tab">
    <h4>TESTIMONIALS</h4>
  </div>
  <div class="cards">
    <div class="testimonial-card">
      <%= image_tag "cooking.png", alt: "Cooking", width: 200 %>
      <%= link_to "Cooking", "#" %>
    </div>
    <div class="testimonial-card">
      <%= image_tag "wellness.png", alt: "Wellness", width: 200 %>
      <%= link_to "Wellness", "#" %>
    </div>
    <div class="testimonial-card">
      <%= image_tag "wellness.png", alt: "Wellness", width: 200 %>
      <%= link_to "Luxury", "#" %>
    </div>
  </div>
  <div>
    <h4>JOIN OUR NEWSLETTER </h4>
  </div>
</div>
</div>
